<a href="{{ routes.root_url }}" data-menu-drawer data-drawer-options='{ "id":"#t4s-menu-drawer" }' class="t4s-push-menu-btn {{ push_menu }} t4s-lh-1 t4s-d-flex t4s-align-items-center">
  <svg class="t4s-icon t4s-icon--menu" aria-hidden="true" focusable="false" role="presentation">
    <use href="#icon-h-menu"></use>
  </svg>
</a>
